#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.buyCol {
  //border: 1px solid #000;
  align-self: end;
  align-items: stretch;
  justify-content: space-between;
}
.buyButton {
  //align-self: stretch;
  justify-content: center;
  align-self: end;
}
.amount {
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}